@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.logo {
  font-family: "Lexend", sans-serif;
}

/* Colores */
.bg-nav {
  background-color: #00001e;
}
.bg-cuerpo {
  background-color: #232244;
}
.button-style {
  color: white;
  border: #f82d30;
  background-color: #f82d30;
}
.button-style:hover {
  color: white;
  background-color: #ff6a5b;
  border: #f82d30;
}
.links {
  color: #f82d30;
}

.bg-bodyAzul {
  background-color: #232244;
}

/* Buscador del navbar */
.nav-search {
  background: #fff;
  color: #000;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  border-right: 0 solid #000;
  border-left: 2px solid #000;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 280px;
  height: 35px;
  padding-left: 15px;
}
.nav-search:focus {
  outline: none;
}
.nav-search-icon {
  background: #fff;
  color: #000;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-left: 0px solid #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 35px;
}

/* Cambio de colores paginacion */
.pagination > li > a {
  background-color: white;
  color: #5a4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: #5a4181 !important;
  border: solid 1px #5a4181 !important;
}

.pagination > .active > a:hover {
  background-color: #5a4181 !important;
  border: solid 1px #5a4181;
}

/* Cards productos */

.cardProd h5 {
  font-weight: 600;
}

.imgCatProducto {
  height: 150px;
  object-fit: cover;
}

.textCatProducto {
  color: white;
  font-weight: 700;
  font-size: 50px;
}

/* Pagina principal */

.imgBanner {
  height: 250px;
  object-fit: cover;
}

.badgeNuevo {
  background: #bd0007;
}

.categoriasProd {
  object-fit: cover;
}

.catCircle {
  height: 300px;
  width: 300px;
  text-shadow: -1px 1px 16px black;
}

.textCatCircle {
  color: white;
  font-weight: 700;
  font-size: 50px;
}

.textCat {
  color: white;
  font-weight: 700;
  font-size: 40px;
}

.textCat :hover {
  color: #f82d30;
  text-shadow: -1px 1px 16px black;
}

.textCatSmall {
  text-shadow: -1px 1px 16px black;
  color: white;
  font-weight: 600;
}

.textCatSmall:hover {
  color: #f82d30;
  text-shadow: -1px 1px 16px black;
}

.textExplorar {
  color: white;
  font-weight: 700;
  font-size: 45px;
}

/* Pagina Login */
.imageLogin {
  width: 100%;
  max-width: 547px;
}

/* Pagina detalle */
.imgDetalleProd {
  object-fit: cover;
}

.imgUsuario {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.breadcrumb a {
  text-decoration: none;
  color: #f82d30;
}

/* Media para que desaparezca el buscador en un determinado tamaño */
@media all and (min-width: 768px) {
  .nav-search {
    width: 400px;
  }
}
@media all and (min-width: 1024px) {
  .nav-search {
    width: 300px;
  }
}
@media all and (min-width: 1400px) {
  .nav-search {
    width: 450px;
  }
}
@media all and (min-width: 0px) and (max-width: 281px) {
  .nav-search {
    display: none;
  }
  .nav-search-icon {
    display: none;
  }
}

/* Pantallas xs */
@media (min-width: 100px) and (max-width:575px){
  .cardProd button {
    font-size: 12px;
  }
}
/* Pantallas medianas */
@media (min-width: 768px) and (max-width: 991px) {
  .imgCatProducto {
    height: 200px;
  }
  .imgBanner {
    height: 500px;
  }
  .catCircle {
    height: 200px;
    width: 200px;
  }

  .textCatCircle {
    font-size: 30px;
  }

  .cardProd button {
    font-size: 14px;
  }

  .textExplorar{
    font-size: 50px;
  }
}

/* Pantallas grandes */

@media all and (min-width: 992px) {
  .imgCatProducto {
    height: 300px;
  }

  .imgBanner {
    height: 600px;
  }

  .catCircle {
    height: 300px;
    width: 300px;
  }

  .cardProd b {
    font-size: 18px !important;
  }

  .cardProd button {
    padding: 8px;
    font-size: 11px;
  }

  
  .textExplorar {
    font-size: 50px;
  }
  .textCat {
    font-size: 40px;
  }

  .textCatSmall {
    font-size: 25px;
  }
}

@media all and (min-width: 1200px) {
  .cardProd b {
    font-size: 23px !important;
  }

  .cardProd button {
    padding: 8px;
    font-size: 14px;
  }

  .textExplorar {
    font-size: 60px;
  }

  .textCat {
    font-size: 50px;
  }

  .textCatSmall {
    font-size: 30px;
  }
}
